<!--
I scream, you scream, we all scream for source code.
-->
<!--
Based on the Google IO 2012/2013 HTML5 Slide Template
Heavily modified to support better custom themes using pure
compass. And gulp. Always with the gulps.

Authors: Eric Bidelman <ebidel@gmail.com>
         Luke Mahé <lukem@google.com>
         Jakob Heuser <jheuser@linkedin.com>
-->
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <!--This one seems to work all the time, but really small on ipad-->
  <!--<meta name="viewport" content="initial-scale=0.4">-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" media="all" href="css/main.css" data-noprefix>
  <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="css/phone.css" data-noprefix>
  <base target="_blank"> <!-- This amazingness opens all links in a new tab. -->
</head>
<body style="opacity: 0">

<slides class="layout-widescreen">

  <slide class="logoslide nobackground dark">
    <article class="flexbox vcenter">
      <span><img src="images/conference/open_web_camp_logo.png"></span>
    </article>
  </slide>

  <slide class="title-slide segue nobackground">
    <aside class="logobar"><img src="images/conference/open_web_camp_logo_128.png"></aside>
    <!-- The content of this hgroup is replaced programmatically through the slide_config.json. -->
    <hgroup class="auto-fadein">
      <h1 data-config-title><!-- populated from slide_config.json --></h1>
      <h2 data-config-subtitle><!-- populated from slide_config.json --></h2>
      <p data-config-presenter><!-- populated from slide_config.json --></p>
    </hgroup>
    <aside class="note">
      <section>
        <p>Title: A Pragmatic Guide to Web Components</p>
        <p>Overview: Web Components. The moment is upon us where we can encapsulate
        large amounts of code behind a single semantic tag. Get a crash course on
        what Web Components are, how the current batch of JavaScript frameworks
        address the technology, and some good anti-patterns to avoid when building
        your own Web Components.</p>
      </section>
    </aside>
  </slide>

  <slide>
    <hgroup>
      <h2>Not Today</h2>
    </hgroup>
    <article>
      <ul class="build">
        <li>A W3C spec sing-a-long</li>
        <li>The inner workings of Shadow DOM</li>
        <li>What is the "best" X</li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Today</h2>
    </hgroup>
    <article>
      <ul>
        <li>What / Why Web Components</li>
        <li>Code examples in Polymer, Ember, Angular, React</li>
        <li>Caveats and Antipatterns</li>
        <li>Building a better web</li>
      </ul>
    </article>
    <aside class="note">
      <section>
        <h3>Additional Resources:</h3>
        <ul>
          <li><a href="http://webcomponents.org">webcomponents.org</a>: a great resource for discussing and learning about web components</a></li>
          <li><a href="http://w3c.github.io/webcomponents/explainer/">Introduction to Web Components</a>: The W3C specification</li>
        </ul>
      </section>
    </aside>
    <footer class="source">(Viewing this online? Press "P" for great resources!)</footer>
  </slide>

  <slide id="about-me">
    <article class="flexbox vcenter">
      <img src="images/me/jakob_heuser.jpg" alt="Jakob Heuser" title="Jakob Heuser">
    </article>
  </slide>

  <slide class="segue dark nobackground">
    <hgroup class="auto-fadein">
      <h2>What are Web Components?</h2>
      <h3>Exposing the guts of an HTML tag<br>in a standards compilant way</h3>
    </hgroup>
  </slide>

  <slide class="fill nobackground" style="background-image: url(images/mean_dragon.jpg)">
    <footer class="source white">a picture of Alduin, the dragon<br>SOURCE: elderscrolls.wikia.com</footer>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <img src="images/frameworks/jquery_ui.png" alt="jQuery UI Logo" title="jQuery UI Logo">
    </article>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <img src="images/frameworks/twitter_bootstrap.png" alt="Twitter Bootstrap Logo" title="Twitter Bootstrap Logo">
    </article>
  </slide>

  <slide class="fill nobackground" style="background-image: url(images/fat_whale.jpg)">
    <footer class="source white">a picture a chubby looking beluga whale<br>SOURCE: flickr.com/photos/jspad</footer>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <img src="images/frameworks/dojo_dijits.png" alt="Dojo Dijits Logo" title="Dojo Dijits Logo">
    </article>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <img src="images/frameworks/ember_ui.png" alt="Ember UI Logo" title="Ember UI Logo">
    </article>
  </slide>

  <slide class="fill nobackground" style="background-image: url(images/mean_dragon.jpg)">
    <footer class="source white">a picture of Alduin, the dragon<br>SOURCE: elderscrolls.wikia.com</footer>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <img class="auto-fadein" src="images/fat_dragon.gif" alt="A caricature of a fat dragon" title="A caricature of a fat dragon">
      <footer class="source">fat dragon<br>SOURCE: aoth.deviantart.com</footer>
    </article>
  </slide>

  <slide class="fill nobackground" style="background-image: url(images/orgs/web_components_logo.svg)">
    <footer class="source white">web components logo</footer>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <img src="images/orgs/w3c_logo.png" alt="W3C Logo" title="W3C Logo">
    </article>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <img src="images/typeahead.png" alt="Screenshot of Twitter's Typeahead utility" title="Screenshot of Twitter's Typeahead utility">
    </article>
  </slide>

  <slide>
    <article class="flexbox vleft">
      <pre><code class="language-html">
        &lt;typeahead source=&quot;http://mysite.com/api/&quot;&gt;
      </code></pre>
    </article>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <img src="images/todomvc.svg" alt="The TodoMVC Logo" title="The TodoMVC Logo">
    </article>
  </slide>

  <slide>
    <article class="flexbox vleft">
      <pre><code class="language-html">
		    &lt;localstorage id=&quot;storage&quot; name=&quot;my-namespace&quot;&gt;&lt;/localstorage&gt;
		    &lt;todo-database id=&quot;model&quot; storageId=&quot;storage&quot;&gt;&lt;/todo-database&gt;
		    &lt;todos modelId=&quot;model&quot;&gt;
          &lt;item&gt;A todo&lt;/item&gt;
          &lt;item completed&gt;A completed item&lt;/item&gt;
        &lt;/todos&gt;
      </code></pre>
    </article>
  </slide>

  <slide class="segue dark quote nobackground">
    <aside class="logobar right bottom"><img src="images/conference/open_web_camp_logo_128.png"></aside>
    <article class="flexbox vleft auto-fadein">
      <q>
        Composability unlocks the evolving web
      </q>
    </article>
  </slide>

  <slide class="fill nobackground" style="background-image: url(images/ie_voodoo.jpg)">
    <footer class="source white">an IE voodoo doll<br>SOURCE: flickr.com/photos/evilnickname</footer>
  </slide>

  <slide>
    <hgroup>
      <h2>CanIUse</h2>
    </hgroup>
    <article>
      <table>
        <tr><td><img src="" alt="Chrome" title="Chrome"></td><td class="passes">OK</td></tr>
        <tr><td><img src="" alt="Firefox" title="Firefox"></td><td class="passes">OK</td></tr>
        <tr><td><img src="" alt="Safari" title="Safari"></td><td class="with-warnings">Partial</td></tr>
        <tr><td><img src="" alt="Opera" title="Opera"></td><td class="with-warnings">Partial</td></tr>
        <tr><td><img src="" alt="Internet Explorer" title="Internet Explorer"></td><td class="fails">None</td></tr>
      </table>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Global Browser Stats</h2>
    </hgroup>
    <article>
      TODO: global browser stats here showing breakdown by supports / doesn't
    </article>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <img src="images/sad_face.gif" alt="A sad face" title="A sad face">
      <footer class="source">sad face<br>SOURCE: </footer>
    </article>
  </slide>

  <slide class="segue dark nobackground">
    <hgroup class="auto-fadein">
      <h2>Web Components Today</h2>
      <h3>Today's JS frameworks can get us there!</h3>
    </hgroup>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <img src="images/frameworks/nascar.png" alt="The Ember, Angular, React, and Polymer frameworks" title="The Ember, Angular, React, and Polymer frameworks">
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Our Goal</h2>
    </hgroup>
    <article>
      <pre><code class="language-html">
        &lt;carousel&gt;
          &lt;carousel-item&gt;one&lt;/carousel-item&gt;
          &lt;carousel-item&gt;two&lt;/carousel-item&gt;
          &lt;carousel-item&gt;three&lt;/carousel-item&gt;
        &lt;/carousel&gt;
      </code></pre>
    </article>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <img src="images/frameworks/ember.png" alt="The ember logo" title="The ember logo">
    </article>
    <footer class="source">Ember<br><a href="http://emberjs.com/">http://emberjs.com/</a></footer>
  </slide>

  <slide>
    <hgroup>
      <h2>Ember Carousel Markup</h2>
    </hgroup>
    <article class="smaller">
      <pre data-line="2"><code class="language-html">
        &lt;script type=&quot;text/x-handlebars&quot; data-template-name=&quot;index&quot;&gt;
          {{#e-carousel}}
            &lt;carousel-item&gt;one&lt;/carousel-item&gt;
            &lt;carousel-item&gt;two&lt;/carousel-item&gt;
            &lt;carousel-item&gt;three&lt;/carousel-item&gt;
          {{/e-carousel}}
        &lt;/script&gt;
      </code></pre>
    </article>
    <footer class="source"><a href="http://jsbin.com/povapafa/1/">view live example on jsbin</a></footer>
  </slide>

  <slide>
    <hgroup>
      <h2>Ember Carousel Templates</h2>
    </hgroup>
    <article class="smaller">
      <pre data-line="2,4,10"><code class="language-html">
        &lt;style&gt;
          .e-carousel .selected { color: red; }
        &lt;/style&gt;
        &lt;script type=&quot;text/x-handlebars&quot; data-template-name=&quot;components/e-carousel&quot;&gt;
          &lt;ul class=&quot;e-carousel&quot;&gt;
            {{#each item in items}}
              &lt;li {{bind-attr class=&quot;item.className&quot;}}&gt;{{item.content}}&lt;/li&gt;
            {{/each}}
          &lt;/ul&gt;
          &lt;content&gt;{{yield}}&lt;/content&gt;
          &lt;button {{action &quot;previous&quot;}}&gt;Previous&lt;/button&gt;
          &lt;button {{action &quot;next&quot;}}&gt;Next&lt;/button&gt;
        &lt;/script&gt;
      </code></pre>
    </article>
    <footer class="source"><a href="http://jsbin.com/povapafa/1/">view live example on jsbin</a></footer>
  </slide>

  <slide>
    <hgroup>
      <h2>Ember JavaScript 1/2</h2>
    </hgroup>
    <article class="smaller">
      <pre data-line="6,9"><code class="language-javascript">
        App = Ember.Application.create();
        App.IndexRoute = Ember.Route.extend({});
        App.ECarouselComponent = Ember.Component.extend({
          items: Ember.A([]),
          index: 0,
          didInsertElement: function() {
            this._super();
            var self = this;
            var $items = this.$(&apos;content carousel-item&apos;);
            $items.hide();
            $items.each(function(idx, item) {
              self.items.pushObject(Ember.Object.create({
                className: &apos;&apos;,
                content: self.$(item).html()
              }));
            });
            $items.remove();
            this.go(0);
          },
          /* ... */
      </code></pre>
    </article>
    <footer class="source"><a href="http://jsbin.com/povapafa/1/">view live example on jsbin</a></footer>
  </slide>

  <slide>
    <hgroup>
      <h2>Ember JavaScript 2/2</h2>
    </hgroup>
    <article class="smaller">
      <pre><code class="language-javascript" data-indent="  ">
          /* ... */
          actions: {
            previous: function() { this.go(this.get(&apos;index&apos;) - 1); },
            next: function() { this.go(this.get(&apos;index&apos;) + 1); }
          },
          go: function(idx) {
            if (idx &gt;= this.items.length) idx = 0;
            if (idx &lt; 0) idx = this.items.length - 1;
            this.items.objectAt(this.get(&apos;index&apos;)).set(&apos;className&apos;, &apos;&apos;);
            this.items.objectAt(idx).set(&apos;className&apos;, &apos;selected&apos;);
            this.set(&apos;index&apos;, idx);
          }
        });
      </code></pre>
    </article>
    <footer class="source"><a href="http://jsbin.com/povapafa/1/">view live example on jsbin</a></footer>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <img src="images/frameworks/angular.png" alt="The AngularJS logo" title="The AngularJS logo">
    </article>
    <footer class="source">AngularJS<br><a href="https://angularjs.org/">https://angularjs.org/</a></footer>
  </slide>

  <slide>
    <hgroup>
      <h2>AngularJS Carousel Markup</h2>
    </hgroup>
    <article class="smaller">
      <pre data-line="1"><code class="language-html">
        &lt;carousel ang-component ang-carousel&gt;
          &lt;carousel-item&gt;one&lt;/carousel-item&gt;
          &lt;carousel-item&gt;two&lt;/carousel-item&gt;
          &lt;carousel-item&gt;three&lt;/carousel-item&gt;
        &lt;/carousel&gt;
      </code></pre>
    </article>
    <footer class="source"><a href="http://jsbin.com/pozozako/2/">view live example on jsbin</a></footer>
  </slide>

  <slide>
    <hgroup>
      <h2>AngularJS Carousel Element</h2>
    </hgroup>
    <article class="smaller">
      <pre data-line="5"><code class="language-html">
        &lt;style&gt;
          ang-template { display: none; }
          carousel .selected { color: red; }
        &lt;/style&gt;
        &lt;ang-template for=&quot;ang-carousel&quot;&gt;
          &lt;ul&gt;
            &lt;li ng-repeat=&quot;item in items&quot; ng-class=&quot;getClass($index)&quot;&gt;
              {{item}}
            &lt;/li&gt;
          &lt;/ul&gt;
          &lt;button ng-click=&quot;previous($event)&quot;&gt;Previous&lt;/button&gt;
          &lt;button ng-click=&quot;next($event)&quot;&gt;Next&lt;/button&gt;
        &lt;/ang-template&gt;
      </code></pre>
    </article>
    <footer class="source"><a href="http://jsbin.com/pozozako/2/">view live example on jsbin</a></footer>
  </slide>

  <slide>
    <hgroup>
      <h2>AngularJS JavaScript 1/2</h2>
    </hgroup>
    <article class="smaller">
      <pre data-line="1,9,15"><code class="language-javascript">
        angular.element(document).ready(function() {
          var els = document.querySelectorAll(&apos;*[ang-component]&apos;);
          for (var i = 0, len = els.length; i &lt; len; i++ ) {
            angular.bootstrap(els[i], [els[i].tagName.toLowerCase()]);
          }
        });

        angular.module(&apos;carousel&apos;, [])
        .directive(&apos;angCarousel&apos;, function () {
          var tmpl = document.querySelector(&apos;ang-template[for=&quot;ang-carousel&quot;]&apos;);
          return {
            restrict: &apos;A&apos;,
            template: tmpl.innerHTML,
            transclude: true,
            controller: function($scope, $transclude) {
              var index = 0;
              function go(idx) {
                if (idx &gt;= $scope.items.length) idx = 0;
                if (idx &lt; 0) idx = $scope.items.length - 1;
                index = idx;
              }
              /* ... */
      </code></pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>AngularJS JavaScript 2/2</h2>
    </hgroup>
    <article class="smaller">
      <pre data-line="8"><code class="language-javascript" data-indent="      ">
              /* ... */
              $scope.items = [];
              $scope.previous = function() { go(index - 1); };
              $scope.next = function() { go(index + 1); };
              $scope.getClass = function(idx) {
                return (idx === index) ? &apos;selected&apos; : &apos;&apos;;
              };
              $transclude(function(clone) {
                var div = angular.element(document.createElement(&apos;div&apos;));
                var nodes = div.append(clone).find(&apos;carousel-item&apos;);

                for (var i = 0, len = nodes.length; i &lt; len; i++) {
                  $scope.items.push(nodes[i].innerHTML);
                }
              });
            }
          };
        });
      </code></pre>
    </article>
    <footer class="source"><a href="http://jsbin.com/pozozako/2/">view live example on jsbin</a></footer>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <img src="images/frameworks/polymer.png" alt="The Polymer logo" title="The Polymer logo">
    </article>
    <footer class="source">Polymer<br><a href="http://www.polymer-project.org/">http://www.polymer-project.org/</a></footer>
  </slide>

  <slide>
    <hgroup>
      <h2>Polymer Carousel Markup</h2>
    </hgroup>
    <article class="smaller">
      <pre data-line="1"><code class="language-html">
        &lt;p-carousel&gt;
          &lt;p-carousel-item&gt;one&lt;/p-carousel-item&gt;
          &lt;p-carousel-item&gt;two&lt;/p-carousel-item&gt;
          &lt;p-carousel-item&gt;three&lt;/p-carousel-item&gt;
        &lt;/p-carousel&gt;
      </code></pre>
    </article>
    <footer class="source"><a href="http://jsbin.com/sixiwora/3/">view live example on jsbin</a></footer>
  </slide>

  <slide>
    <hgroup>
      <h2>Polymer Carousel Element</h2>
    </hgroup>
    <article class="smaller">
      <pre data-line="1,10,14"><code class="language-html">
        &lt;polymer-element name=&quot;p-carousel&quot; noscript&gt;
          &lt;template&gt;
            &lt;ul&gt;
              &lt;template repeat=&quot;{{ item in items }}&quot;&gt;
                &lt;li class=&quot;{{ item.className }}&quot;&gt;{{ item.content }}&lt;/li&gt;
              &lt;/template&gt;
            &lt;/ul&gt;
            &lt;button id=&quot;prev&quot;&gt;Previous&lt;/button&gt;
            &lt;button id=&quot;next&quot;&gt;Next&lt;/button&gt;
            &lt;style&gt;
              .selected { color: red; }
              ::content * { display: none; }
            &lt;/style&gt;
            &lt;content id=&quot;content&quot; select=&quot;p-carousel-item&quot;&gt;&lt;/content&gt;
          &lt;/template&gt;
          &lt;script&gt;
            /* ... see next slide ... */
          &lt;/script&gt;
        &lt;/polymer-element&gt;
      </code></pre>
    </article>
    <footer class="source"><a href="http://jsbin.com/sixiwora">view live example on jsbin</a></footer>
  </slide>

  <slide>
    <hgroup>
      <h2>Polymer Carousel JavaScript (1/2)</h2>
    </hgroup>
    <article class="smaller">
      <pre><code class="language-javascript">
        Polymer({
          go: function(idx) {
            if (idx &gt;= this.items.length) { idx = 0; }
            if (idx &lt; 0) { idx = this.items.length - 1; }
            this.items[this.index].className = &apos;&apos;;
            this.items[idx].className = &apos;selected&apos;;
            this.index = idx;
          },
          /* ... */
      </code></pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Polymer Carousel JavaScript (2/2)</h2>
    </hgroup>
    <article class="smaller">
      <pre data-line="4,13"><code class="language-javascript" data-indent="  ">
          /* ... */
          attached: function() {
            var self = this,
                contents = this.$.content.getDistributedNodes();
            this.items = [];
            this.index = 0;
            for (var i = 0, len = contents.length; i &lt; len; i++) {
              this.items.push({
                className: &apos;&apos;,
                content: contents[i].innerHTML
              });
            }
            this.$.prev.addEventListener(&apos;click&apos;, function() {
              self.go(self.index - 1);
            });
            this.$.next.addEventListener(&apos;click&apos;, function() {
              self.go(self.index + 1);
            });
            this.go(0);
          }
        });
      </code></pre>
    </article>
    <footer class="source"><a href="http://jsbin.com/sixiwora">view live example on jsbin</a></footer>
  </slide>

  <slide class="segue dark quote nobackground">
    <aside class="logobar right bottom"><img src="images/conference/open_web_camp_logo_128.png"></aside>
    <article class="flexbox vleft auto-fadein">
      <q>
        Components written in Angular will export to Web Components (to be used by Polymer, Ember, or any other framework/library)
      </q>
      <div class="author">
        Miško Hevery<br>
        AngularJS Team
      </div>
    </article>
  </slide>

<!--
  <slide>
    <hgroup>
      <h2>Slide with Bullets</h2>
    </hgroup>
    <article>
      <ul>
        <li>Titles are formatted as Open Sans with bold applied and font size is set at 45</li>
        <li>Title capitalization is title case
          <ul>
            <li>Subtitle capitalization is title case</li>
          </ul>
        </li>
        <li>Subtitle capitalization is title case</li>
        <li>Titles and subtitles should never have a period at the end</li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Slide with Bullets that Build</h2>
      <h3>Subtitle Placeholder</h3>
    </hgroup>
    <article>
      <p>A list where items build:</p>
      <ul class="build">
        <li>Pressing 'h' highlights code snippets</li>
        <li>Pressing 'p' toggles speaker notes (if they're on the current slide)</li>
        <li>Pressing 'b' toggles blank overlay</li>
        <li>Pressing 'f' toggles fullscreen viewing</li>
        <li>Pressing 'w' toggles widescreen</li>
        <li>Pressing 'o' toggles overview mode</li>
        <li>Pressing 'ESC' toggles off these goodies</li>
      </ul>
      <p>Another list, but items fade as they build:</p>
      <ul class="build fade">
        <li>Hover over me!</li>
        <li>Hover over me!</li>
        <li>Hover over me!</li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Slide with (Smaller Font)</h2>
    </hgroup>
    <article class="smaller">
      <ul>
        <li>All <a href="http://google.com">links</a> open in new tabs.</li>
        <li>To change that this, add <code>target="_self"</code> to the link.</li>
      </ul>
    </article>
  </slide>

  <slide hidden>
    Hidden slides are left out of the presentation.
  </slide>

  <slide>
    <hgroup>
      <h2>Code Slide (with Subtitle Placeholder)</h2>
      <h3>Subtitle Placeholder</h3>
    </hgroup>
    <article>
      <p>Press 'h' to highlight important sections of code (wrapped in <code>&lt;b&gt;</code>).</p>
      <pre class="prettyprint" data-lang="javascript">
&lt;script type='text/javascript'&gt;
  // Say hello world until the user starts questioning
  // the meaningfulness of their existence.
  function helloWorld(world) {
    <b>for (var i = 42; --i &gt;= 0;) {
      alert('Hello ' + String(world));
    }</b>
  }
&lt;/script&gt;
</pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Code Slide (Smaller Font)</h2>
    </hgroup>
    <article class="smaller">
      <pre class="prettyprint" data-lang="javascript">
// Say hello world until the user starts questioning
// the meaningfulness of their existence.
function helloWorld(world) {
  for (var i = 42; --i &gt;= 0;) {
    alert('Hello ' + String(world));
  }
}
</pre>
<pre class="prettyprint" data-lang="css">
&lt;style&gt;
  p { color: pink }
  b { color: blue }
&lt;/style&gt;
</pre>
<pre class="prettyprint" data-lang="html">
&lt;!DOCTYPE html>
&lt;html>
&lt;head>
  &lt;title>My Awesome Page&lt;/title>
&lt;/head>
&lt;body>
  &lt;p&gt;Hello world&lt;/p&gt;
&lt;body>
&lt;/html>
</pre>
    </article>
  </slide>

  <slide>
    <aside class="note">
      <section>
        <ul>
          <li>Point I wanted to make #1</li>
          <li>Point I wanted to make #2</li>
          <li>Point I wanted to make #3</li>
          <li>Example <a href="#">link</a> in notes.</li>
        </ul>
        <p><b>Remember to say this tag line!</b></p>
      </section>
    </aside>
    <hgroup>
      <h2>Slide with Speaker Notes</h2>
    </hgroup>
    <article>
      <p>Press 'p' to toggle speaker notes.</p>
    </article>
  </slide>

  <slide>
    <aside class="note">
      <section>
        <ul>
          <li>See this amazing link: <a href="http://www.google.com">link</a>.</li>
        </ul>
        <p><b>Remember to say this tag line!</b></p>
      </section>
    </aside>
    <hgroup>
      <h2>Presenter Mode</h2>
    </hgroup>
    <article>
      <p>Add <code><a href="?presentme=true" target="_self">?presentme=true</a></code> to the URL to enabled presenter mode.
      This setting is sticky, meaning refreshing the page will persist presenter
      mode.</p>
      <p>Hit <code><a href="?presentme=false" target="_self">?presentme=false</a></code> to disable presenter mode.</p>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Slide with Image</h2>
    </hgroup>
    <article>
      <img src="images/chart.png" class="reflect" alt="Description" title="Description">
      <footer class="source">source: place source info here</footer>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Slide with Image (Centered horz/vert)</h2>
    </hgroup>
    <article class="flexbox vcenter">
      <img src="images/barchart.png" alt="Description" title="Description">
      <footer class="source">source: place source info here</footer>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Table Option A</h2>
      <h3>Subtitle Placeholder</h3>
    </hgroup>
    <article>
      <table>
        <tr>
          <th></th><th>Column 1</th><th>Column 2</th><th>Column 3</th><th>Column 4</th>
        </tr>
        <tr>
          <td>Row 1</td><td>placeholder</td><td class="highlight">placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
        <tr>
          <td>Row 2</td><td>placeholder</td><td>placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
        <tr>
          <td>Row 3</td><td>placeholder</td><td>placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
        <tr>
          <td>Row 4</td><td>placeholder</td><td>placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
        <tr>
          <td>Row 5</td><td>placeholder</td><td>placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
      </table>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Table Option A (Smaller Text)</h2>
      <h3>Subtitle Placeholder</h3>
    </hgroup>
    <article class="smaller">
      <table>
        <tr>
          <th></th><th>Column 1</th><th>Column 2</th><th>Column 3</th><th>Column 4</th>
        </tr>
        <tr>
          <td>Row 1</td><td>placeholder</td><td class="highlight">placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
        <tr>
          <td>Row 2</td><td>placeholder</td><td>placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
        <tr>
          <td>Row 3</td><td>placeholder</td><td>placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
        <tr>
          <td>Row 4</td><td>placeholder</td><td>placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
        <tr>
          <td>Row 5</td><td>placeholder</td><td>placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
      </table>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Table Option B</h2>
      <h3>Subtitle Placeholder</h3>
    </hgroup>
    <article>
      <table class="rows">
        <tr>
          <th>Header 1</th><td>placeholder</td><td class="highlight">placeholder</td><td>placeholder</td>
        </tr>
        <tr>
          <th>Header 2</th><td>placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
        <tr>
          <th>Header 3</th><td>placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
        <tr>
          <th>Header 4</th><td>placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
        <tr>
          <th>Header 5</th><td>placeholder</td><td>placeholder</td><td>placeholder</td>
        </tr>
      </table>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Slide Styles</h2>
    </hgroup>
    <article class="smaller">
      <div class="columns-2">
        <ul>
          <li class="red">class="red"</li>
          <li class="red2">class="red2"</li>
          <li class="red3">class="red3"</li>
          <li class="blue">class="blue"</li>
          <li class="blue2">class="blue2"</li>
          <li class="blue3">class="blue3"</li>
          <li class="green">class="green"</li>
          <li class="green2">class="green2"</li>
        </ul>
        <ul>
          <li class="green3">class="green3"</li>
          <li class="yellow">class="yellow"</li>
          <li class="yellow2">class="yellow2"</li>
          <li class="yellow3">class="yellow3"</li>
          <li class="gray">class="gray"</li>
          <li class="gray2">class="gray2"</li>
          <li class="gray3">class="gray3"</li>
          <li class="gray4">class="gray4"</li>
        </ul>
      </div>
      <div class="centered" style="margin-top:2em">
        I am centered text with a <button>Button</button> and <button disabled>Disabled</button> button.
      </div>
    </article>
  </slide>

  <slide class="segue dark nobackground">
    <aside class="logobar"><img src="images/google_developers_icon_128.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Segue Slide</h2>
      <h3>Subtitle Placeholder</h3>
    </hgroup>
  </slide>

  <slide class="fill nobackground" style="background-image: url(images/sky.jpg)">
    <hgroup>
      <h2 class="white">Full Image (with Optional Header)</h2>
    </hgroup>
    <footer class="source white">www.flickr.com/photos/25797459@N06/5438799763/</footer>
  </slide>

  <slide class="segue dark quote nobackground">
    <aside class="logobar right bottom"><img src="images/google_developers_icon_128.png"></aside>
    <article class="flexbox vleft auto-fadein">
      <q>
        This is an example of quote text.
      </q>
      <div class="author">
        Name<br>
        Company
      </div>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Slide with Iframe</h2>
    </hgroup>
    <article>
      <iframe data-src="http://www.google.com/doodle4google/resources/history.html"></iframe>
    </article>
  </slide>

  <slide>
    <article>
      <iframe data-src="http://www.google.com/doodle4google/resources/history.html"></iframe>
    </article>
  </slide>
-->

  <slide class="thank-you-slide segue nobackground">
    <aside class="logobar right"><img src="images/conference/open_web_camp_logo_128.png"></aside>
    <article class="flexbox vleft auto-fadein">
      <h2>&lt;Thank You!&gt;</h2>
      <p>Important contact information goes here.</p>
    </article>
    <p class="auto-fadein" data-config-contact>
      <!-- populated from slide_config.json -->
    </p>
  </slide>

  <slide class="logoslide dark nobackground">
    <article class="flexbox vcenter">
      <span><img src="images/conference/open_web_camp_logo.png"></span>
    </article>
  </slide>

  <slide class="backdrop"></slide>

</slides>

<script src="js/bundle.js" data-manual></script>
<!-- Try a chrome frame on antiquated IE lt 9 (10 doesn't have these) -->
<!--[if IE]>
  <script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  <script>CFInstall.check({mode: 'overlay'});</script>
<![endif]-->
</body>
</html>
